.footer {
	height: 200px;
	background: @b-gray url("../images/bg_footer.jpg") no-repeat 50% 0;
	position: relative;
	margin-top: -200px;
	min-width: @min-content;
	.wrapper{
		height: 100%;
		.copyright{
			color: @white;
			position: absolute;
			text-align: center;
			left: 60px;
			bottom: 40px;
		}
	}
}
.statistic{
  text-align: right;
  padding-top: 25px;
}
.slinks{
  display: flex;
  padding-left: 50px;
  a{
    color: @white;
    font-size: 24px;
    &:hover{
      text-decoration: none;
      opacity: .7;
    }
  }
}
.bottom_top{
  padding-top: 75px;
}
.slinks__item{
  margin: 0 10px;
}