input[type="password"],
input[type="email"],
input[type="text"]{
	padding: 0 5px 0 10px;
	height: 35px;
	background: @white;
	border: 1px solid @b-gray;
	width: 100%;
	.border-radius(0);
  margin-bottom: 10px;
}
textarea{
	padding: 5px 5px 5px 10px;
	border: 1px solid @b-gray;
	width: 100%;
  margin-bottom: 10px;
	.border-radius(0);
}
.formbl_comm{
	width: 350px;
}
#commentform{
	#submit{
		background: url("../images/sprite.png") no-repeat 0 -560px transparent;
		color: @white;
		font-weight: bold;
		height: 33px;
		padding: 0;
		width: 149px;
		border: none;
		&:hover{
			.opacity(0.8);
		}
	}
	#comment{
		height: 150px;
	}
}

.caphbl{
	text-align: left;
	#captcha_code{
		width: 200px;
		margin-top: 10px;
	}
}