.header {
	width: @min-content;
	height: 288px;
	margin: 0 auto;
	position: relative;
}
.top_menu {
	position: absolute;
	bottom: 5px;
	left: 190px;
	ul{
		&:after{
			.clnr;
		}
		li{
			float: left;
			color: @white;
			font-weight: bold;
			font-size: @f-size-x;
			text-align: center;
			list-style: none;
			a{
				display: inline-block;
				color: @white;
				text-decoration: none;
				padding: 0 10px;
				&:hover{
					.opacity(0.8);
				}
			}
		}
	}	
}
.h_logo{
	position: absolute;
	background: url(../images/logo.png) no-repeat;
	width: 434px;
	height: 126px;
	top: 85px;
	left: 60px;
	a{
		width: 100%;
		height: 126px;
		display: inline-block;
	}
}
.search_wr{
	position: absolute;
	top: 10px;
	right: 90px;
	#searchform{
		position: relative;
		#searchsubmit{
			background: url(../images/search.png) no-repeat 50% 50% transparent;
			border: none;
			width: 30px;
			height: 30px;
			position: absolute;
			top: 0;
			right: 0;
			.border-radius(0);
		}
		input[type="text"]{
			border: none;
			background: #fff;
			width: 170px;
			height: 30px;
			.border-radius(0);
			.opacity(0.8);
			.transition(all 0.3s ease 0s);
			&:focus{
				width: 210px;
			}
		}
	}
}
.slog{
  position: absolute;
  color: @white;
  top: 100px;
  right: 100px;
  width: 350px;
  height: 95px;
  padding: 20px 15px 0 20px;
  font-weight: 700;
  background: url(../images/bg_slog.png) no-repeat;
}