.clearfix {
  &:after{
    content: "";
    display: block;
    clear: both;
    height: 0;
  }
}


@mixin placeholder($params) {
  &::-webkit-input-placeholder {
    color: $params;
    opacity: 1;
  }
  &::-moz-placeholder {
    color: $params;
    opacity: 1;
  }
  &:-ms-input-placeholder {
    color: $params;
    opacity: 1;
  }
  &::placeholder {
    color: $params;
    opacity: 1;
  }
}
.clnr{
  content: "";
  display: block;
  height: 0;
  clear: both;
  font-size: 0;
}
.cleaning{
  &:after{
    @extend .clnr;
  }
}
@mixin box-shadow($horizontal: 0px, $vertical: 0px, $blur: 10px, $opacity: 0.7){
  box-shadow: $horizontal $vertical $blur 0 rgba(50, 50, 50, $opacity);
}