body, html{
	height: 100%;
}
h1, h2{
	font-size: @f-size-xl;
}
body {
	font: @f-size @f-stack-base;
	color: @base-color;
	background: @b-gray;
}
.wrap {
	background: url("../images/bg.jpg") center 0 no-repeat;
	width: 100%;
	min-height: 100%;
	min-width: @min-content;
}
.wrapper{
	position: relative;
	margin: 0 auto;
	width: @min-content;
}
/*-- Container Style --*/
.cnt {
	width: @min-content;
	background-color: @white;
	position: relative;
	background: url("../images/cnt.jpg") repeat-y;
	margin: 0 auto;
	padding-bottom: 200px;
	&:after{
		.clnr;
	}
}
.lcnt {
	width: 710px;
	float: left;
	background-color: @white;
	position: relative;
	padding: 20px 40px 0;
	h2 {
		a{
			color: @base-color;
		}
	}
	ul{
		padding: 0 0 0 40px;
	}
	.date{
		margin-bottom: 10px;
	}
}
.post {
	margin: 0 0 30px 0;
	h1{
		a{
			color: @base-color;
		}
	}
	h1, h2, h3, h4, h5, h6{
		text-align: left;
	}
}
.post_inf {
	float: left;
	border-right:1px solid;
	text-align: right;
	margin:0 15px 0 0;
	padding:10px 0 0 0;
	height:64px;
}
.post_inf span {
	margin: 0 20px 0 0;
	font-size: @f-size;
}
.post_inf a {
	margin: 0 20px 0 0;
	font-size: @f-size;
	color: @base-color;
}
.posn {
	font-style: italic;
}
.posc {
	font-weight: bold;
}
.pagi {
	width: 622px;
	margin: 50px 0 0 47px;
}
.rcnt {
	width: 290px;
	float: right;
	position: relative;
	padding: 25px 10px 0 30px;
	ul{
		padding: 0 0 0 10px;
		li{
			list-style: none;
		}
	}
}
.l_lnk {
	margin:15px 0 0 20px;
	width:260px;
	height:260px;
}
.l_lnk a {
	margin:0 10px 10px 0;
	float:left;
}
.l_lnk div {
	width:120px;
	height:80px;
	text-align:center;
	background-color: @gray;
	float: left;
	font-size:18px;
	padding:40px 0 0 0;
}
.l_lnk div a {
	color:#8D9EA9;
	float:none;
}
#respond{
  margin-top: 20px;
}
.similar_records{
  margin-top: 20px;
  li{
    list-style: none;
  }
}
.wp-pagenavi{
  padding: 10px 0 10px 40px;
}
div.syntaxhighlighter{
	padding-bottom: 10px;
}
.tag-link-count{
  display: none;
}
.side.widget{
  margin-bottom: 20px;
}