*{
	.box-sizing(border-box);
	&:before,
    &:after{
		.box-sizing(border-box);
	}
}
img{
	border: none;
	max-width: 100%;
	height: auto;
}
textarea{
	resize: vertical;
}
table{
	width: 100%;
}
ol, ul{
	margin: 0 0 10px 0;
	padding: 0;
}
p{
	margin: 0 0 10px 0;
}
a{	
	color: @d-blue;
	text-decoration: none;
    outline: none;
	.transition(all 0.3s ease 0s);
	&:hover{
		text-decoration: underline;
	}
}
h1, h2, h3, h4, h5, h6{
	margin: 0 0 15px 0;
}
.hidden{
	display: none;
}