@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icomoon/icomoon.eot?p1s0oe');
  src:  url('../fonts/icomoon/icomoon.eot?p1s0oe#iefix') format('embedded-opentype'),
  url('../fonts/icomoon/icomoon.ttf?p1s0oe') format('truetype'),
  url('../fonts/icomoon/icomoon.woff?p1s0oe') format('woff'),
  url('../fonts/icomoon/icomoon.svg?p1s0oe#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

.icommon{
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^="icon-"]:before, [class*=" icon-"]:before {
  .icommon;
}

.icon-bitbucket:before {
  content: "\e900";
}
.icon-github:before {
  content: "\eab0";
}
.icon-npm:before {
  content: "\eab1";
}
.icon-wordpress:before {
  content: "\eab4";
}
.icon-joomla:before {
  content: "\eab5";
}
.icon-linkedin:before {
  content: "\eac9";
}
