.box-sizing(@box-sizing){
    -moz-box-sizing: @box-sizing;
    -webkit-box-sizing: @box-sizing;
    box-sizing: @box-sizing;
}
.transition(@all){
    -moz-transition: @all;
    -webkit-transition: @all;
    transition: @all;
}
.transform-rotate(@rotate){
    -moz-transform: rotate(@rotate);
    -webkit-transform: rotate(@rotate);
    -o-transform: rotate(@rotate);
    -ms-transform: rotate(@rotate);
    transform: rotate(@rotate);
}
.border-radius(@radius){
    -moz-border-radius: @radius;
    -webkit-border-radius: @radius;
    border-radius: @radius;
}
.opacity(@opacity){
    -moz-opacity: @opacity; 
    @opacityPercentage: @opacity * 100;
    -ms-filter: ~"progid:DXImageTransform.Microsoft.Alpha(opacity=@{opacityPercentage})"; 
    filter: ~"alpha(opacity = @{opacityPercentage})";
    opacity: @opacity;
}
.background-size(@value){
    -moz-background-size: @value;
    -webkit-background-size: @value;
    -o-background-size: @value;
    background-size: @value;
}
.transform-scale(@mas){
    -webkit-transform: scale(@mas);
    -moz-transform: scale(@mas);
    -o-transform: scale(@mas);
    -ms-transform: scale(@mas);
    transform: scale(@mas);
 }
.clnr{
    content: "";
    display: block;
    height: 0;
    clear: both;
    font-size: 0;
}
.cleaning{
    &:after{
      .clnr;  
    }
}
.box-shadow(@horizontal: 0px, @vertical: 0px, @blur: 10px, @opacity: 0.7){
    -webkit-box-shadow: @horizontal @vertical @blur 0 rgba(50, 50, 50, @opacity);
    -moz-box-shadow:    @horizontal @vertical @blur 0 rgba(50, 50, 50, @opacity);
    box-shadow:         @horizontal @vertical @blur 0 rgba(50, 50, 50, @opacity);
}