//color
@base-color: #000;
@white: #fff;
@b-gray: #747D82;
@gray: #758792;
@d-blue: #003382;
@exwr: red;
@exin: green;
@blue: #070641;

//font
@f-size-xl: 25px;
@f-size-x: 16px;
@f-size: 14px;

@f-stack-base: 'Open Sans', sans-serif;

@min-content: 1000px;