.sentry {
  .butex1 {
    height: 30px;
    line-height: 30px;
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    background: $gray;
    color: $white;
    width: 100px;
    text-decoration: none;
    text-transform: uppercase;
    &:hover {
      text-decoration: none;
      opacity: .8;
    }
  }
}
.par_va1{
  display: table;
  margin-bottom: 20px;
  .chil_va1{
    display: table-cell;
    vertical-align: middle;
    border: 1px solid $exwr;
    height: 120px;
    padding: 10px;
    div{
      border: 1px solid $exin;
      padding: 10px;
    }
  }
}
.par_va2{
  height: 120px;
  border: 1px solid $exwr;
  text-align: center;
  margin-bottom: 20px;
  &:before{
    content: "";
    display: inline-block;
    height: 100%;
    min-height: inherit;
    vertical-align: middle;
  }
  .chil_va2{
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    padding: 10px;
    border: 1px solid $exin;
    width: 90%;
  }
}
.par_va3{
  height: 120px;
  border: 1px solid $exwr;
  margin-bottom: 20px;
  position: relative;
  .chil_va3{
    height: 30px;
    position: absolute;
    top: 50%;
    margin-top: -15px;
    line-height: 30px;
    border: 1px solid $exin;
    padding: 0 5px;

  }
}
.par_va4{
  height: 120px;
  border: 1px solid $exwr;
  margin-bottom: 20px;
  position: relative;
  .chil_va4{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    height: 30px;
    width: 230px;
    line-height: 30px;
    border: 1px solid $exin;
    padding: 0 5px;

  }
}
.ex_inpcheck{
  border: 1px solid $gray;
  padding: 10px;
  input[type="checkbox"] {
    display: none;
  }
  label{
    position: relative;
    cursor: pointer;
    padding-left: 30px;
    height: 22px;
    line-height: 22px;
    &:before{
      content: "";
      display: block;
      width: 22px;
      height: 22px;
      position: absolute;
      top: 0;
      left: 0;
      background-image: url("./images/star.png");
      background-repeat: no-repeat;
      background-position: 0 0;
    }
  }
  input[type="checkbox"]:checked + label:before{
    background-position: 0 100%;
  }
}
.textblex {
  display: inline-block;
  text-align: center;
  vertical-align: middle;
  padding: 5px;
  border: 2px solid green;
  width: 300px;
}
.parent2{
  position: relative;
  height: 200px;
  border: 2px solid red;
  margin-bottom: 20px;
}
.child2{
  position: absolute;
  height: 50px;
  width: 100%;
  top: 50%;
  margin-top: -25px;
  text-align: center;
}
.child2 div{
  background: green;
  display: inline-block;
  height: 50px;
  width: 50px;
  text-align: center;
  line-height: 50px;
  color: #fff;
}
.wrchekex1 input, .wrchekex2 input{
  display: none;
}
.wrchekex1 div{
  display: inline-block;
  background-color: #fff;
  height: 20px;
  width: 20px;
  border: 1px solid #333;
  vertical-align: middle;
  cursor: pointer;
  margin-right: 5px;
}
.wrchekex1 input:checked + label div{
  background-image: url(./images/gal.png);
}
.wrchekex2 div{
  background-image: url(./images/star.png);
  background-position: 0 0;
  display: inline-block;
  height: 22px;
  width: 22px;
  vertical-align: middle;
  cursor: pointer;
  margin-right: 5px;
}
.wrchekex2 input:checked + div{
  background-position: 0 100%;
}
.wrchekex2 span{
  vertical-align: -3px;
}
.ramka, .wrchekex1, .wrchekex2{
  border: 1px solid #b8b8b8;
  margin: 15px 0;
  padding: 10px;
}

.corcheck input{
  vertical-align: middle;
  margin-right: 5px;
}
//simple tabs
.headertabs{
  margin-bottom: 10px;
}
.headertabs:after{
  content: "";
  display: block;
  height: 0;
  clear: both;
}
.tabswr{
  border: 1px solid #B43104;
  width: 300px;
  height: 200px;
  padding: 5px;
}
.nametab{
  float: left;
  width: 50px;
  text-align: center;
  padding: 5px;
  margin-right: 5px;
  border: 1px solid #B43104;
  cursor: pointer;
  transition: all .3s;
  user-select: none;
}
.nametab.actheadtab,
.nametab:hover{
  color: #fff;
  background: #B43104;
}
.contenttab{
  display: none; /*скрываем содержимое табов*/
}
.contenttab.activetab{
  display: block; /*отобразим содержимое активного таба*/
}
.tabsblock{
  margin-bottom: 15px;
}

.firstsel,
.secondsel{
  cursor: pointer;
}

#clock{
  margin: 10px 0 15px;
  font-weight: bold;
  text-align: center;
  font-size: 20px;
}

.ddmenu_demo{
  padding: 0;
  &:after{
    @extend .clnr;
  }
  li{
    list-style: none;
    height: 40px;
    background: $white;
    a{
      display: block;
      height: 100%;
      vertical-align: middle;
      padding: 0 10px;
      background: #070641;
      color: $white;
      line-height: 40px;
      &:hover{
        text-decoration: none;
        opacity: .7;
      }
    }
    ul{
      display: none;
      position: absolute;
      top: 50px;
      left: 0;
      padding: 0;
    }
  }
  >li{
    float: left;
    position: relative;
    margin: 0 5px;
  }
}
//аккордеон
.content-acc{
  display: none; /*скрываем содержимое*/
  margin-bottom: 10px;
}
.content-acc.active{
  display: block; /*отобразим активный раздел*/
}
.title-acc{
  cursor: pointer;
  margin-bottom: 10px;
  font-weight: bold;
  text-align: center;
  border: 1px solid $blue;
  transition: all .3s;
  padding: 5px;
  &:hover{
    background: $blue;
    color: $white;
  }
}
#toTop{
  position: fixed;
  width: 50px;
  height: 50px;
  right: 0;
  bottom: 50px;
  background: #003382;
  text-align: center;
  color: #fff;
  line-height: 50px;
  cursor: pointer;
  z-index: 2;
  display: none;
}