footer {
 @extend .clearfix;
}

#footerinside {
  margin: 0 auto;
  width: 1180px;
}

.footer_widget1, .footer_widget2, .footer_widget3 {
  width: 33.3%;
  position: relative;
  padding: 30px 0 0px 0px;
  float: left;
  margin-top: 25px;
  padding-bottom: 50px;
  text-align: center;
}

.footer_widget3 {
  margin-right: 0;
}

.footer_widget .textwidget img {
  margin-right: 50px;
}

#footer .widget.widget_text .textwidget p {
  font-size: 16px;
  margin-top: 0;
  float: left;
  text-align: left;
}

#footerbwrap {
  clear: both;
  margin: 0;
  width: 100%;
  overflow: hidden;
  background: #fff;
  padding: 0 0 25px 0;
}

#footerb {
  font-size: 13px;
  margin: 0 auto;
  padding: 0 0;
  max-width: 1180px;
  overflow: hidden;
  border-top: 3px solid #eee;
}

#footerb .copyright {
  text-align: left;
}

.lowerfooter {
  padding-top: 24px;
}

.lowerfooter .footer-menu {
  float: right;
}

.lowerfooter .footer-menu li {
  padding: 0 10px 0 0;
}

.lowerfooter .footer-menu li:after {
  z-index: 9;
  margin-left: 10px;
  content: '/';
}

.lowerfooter .footer-menu li:last-child:after {
  display: none;
}

.lowerfooter .footer-menu li:last-child {
  padding: 0;
}

.left-footer-content {
  position: relative;
  width: 50%;
  float: left;
  text-align: left;
}

.right-footer-content {
  position: relative;
  width: 50%;
  float: right;
  text-align: right;
}

#footer .widget.socials {
  width: 100%;
  float: left;
  margin: 0 auto;
}

#footer .social_icons {
  float: none;
  border: none;
  padding-top: 25px;
  text-align: center;
  margin: 0 auto;
}

#footer .social_icons a {
  text-align: center;
  border-radius: 0;
  padding: 10px;
  margin-right: 3px;
  background: none;
  border: none;
  font-size: 18px;
}

.block_footer_text {
  float: left;
  text-align: center;
  font-size: 24px;
  line-height: 40px;
  color: #fff;
  margin-bottom: 40px;
  font-style: italic;
  border-bottom: 1px dashed #343434;
}

.block_footer_text p {
  margin-bottom: 50px;
}
#footer, .block3, #footerbwrap {
  background: #ffffff
}

#footer p, #footer div, #footer a, #footer input, #footer, #footer h1, #footer h2, #footer h3, #footer h4, #footer i, .copyright {
  color: #000000
}

.left-footer-content__wr{
  display: flex;
}
.slinks{
  display: flex;
  padding-left: 50px;
  a{
    color: $white;
    font-size: 24px;
    &:hover{
      text-decoration: none;
      opacity: .7;
    }
  }
}
.slinks__item{
  margin: 0 5px;
}
@media screen and (max-width: 767px){
  .right-footer-content,
  .left-footer-content{
    width: 100%;
    text-align: center;
  }
  .left-footer-content__wr{
    flex-direction: column-reverse;
  }
  .slinks{
    padding: 0;
    justify-content: center;
  }
}